.codehilite {
  -webkit-text-size-adjust: none;
}

.codehilite .c,
.codehilite .cs,
.codehilite .cm,
.codehilite .cp,
.codehilite .c1 {
  color: $hljs-comment;
  font-style: italic;
}

.codehilite .k,
.codehilite .kc,
.codehilite .kd,
.codehilite .kn,
.codehilite .kr,
.codehilite .kt,
.codehilite .kp {
  color: $hljs-keyword;
}

.codehilite .na,
.codehilite .nb,
.codehilite .nc,
.codehilite .no,
.codehilite .nd,
.codehilite .ni,
.codehilite .ne,
.codehilite .nf,
.codehilite .nl,
.codehilite .nn,
.codehilite .nx {
  color: $hljs-name;
}

.codehilite .mi,
.codehilite .il {
  color: $hljs-number;
}

.codehilite .s,
.codehilite .sb,
.codehilite .sc,
.codehilite .sd,
.codehilite .s2,
.codehilite .s3,
.codehilite .sh,
.codehilite .si,
.codehilite .sx,
.codehilite .sr,
.codehilite .ss,
.codehilite .s1 {
  color: $hljs-string;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: $hljs-title;
  font-weight: bold;
}

.codehilite .k {
  font-weight: normal;
}

.codehilite .nc,
.codehilite .no {
  color: $hljs-type;
}

.codehilite .o {
  color: $hljs-tag;
  font-weight: normal;
}

.codehilite .nb {
  color: $hljs-attribute;
}

.codehilite .sr {
  color: $hljs-regexp;
}

.codehilite .ss {
  color: $hljs-symbol;
}

.hljs-built_in {
  color: $hljs-built-in;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: $hljs-preprocessor;
  font-weight: bold;
}

.hljs-deletion {
  background: $hljs-deletion;
}

.hljs-addition {
  background: $hljs-addition;
}

.diff .hljs-change {
  background: $hljs-change;
}

.hljs-chunk {
  color: $hljs-chunk;
}
