// Defaults ------------------------------------------------------------------
$default-transition-duration: 0.25s;

@mixin copy {
    font-family: Georgia, serif;
}

@mixin titling {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

$link: #4da7ca;