{% extends "base.html" %}

{% block title %}gist.io &middot; #{{ gist_id }}{% endblock %}

{% block content %}
    <!-- <h1>Loading Gist #{{ gist_id }}…</h1> -->
    <section class="content">
        <header>
            <h1 id="gist-author">Written by <a id="author-link" href="javascript:void(0);">???</a></h1>
            <h1 id="gistid"><a href="https://gist.github.com/{{ gist_id }}">gist #{{ gist_id }}</a></h1>
            <div class="clearfix"></div>

            <h2 id="description" class="loading instapaper_title entry-title">Loading…</h2>
        </header>
        <div id="gistbody" class="instapaper_body entry-content"></div>
        <footer>
            <p><a href="/">gist.io</a> &middot; writing for hackers &middot; zero setup &middot; publish in seconds</p>
        </footer>
    </section>
{% endblock %}

{% block js %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/gistio.js"></script>
<script>
    $(function() {
        Gisted.gist("{{gist_id}}");
    });
</script>
{% endblock js %}

{% block extra_head %}
{% endblock %}
