.clearfix {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  padding: 1em;
  margin: 0;
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
  color: #444;
  font-weight: 300; }

a {
  color: #4da7ca;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0; }
  a:hover, a:visited:hover {
    color: #296e88; }
  a:visited {
    color: #88c4dc; }

.content {
  padding: 0.809em;
  max-width: 30em;
  margin: auto; }
  .content #gistid,
  .content #gist-author {
    float: left;
    font-weight: normal;
    color: #ccc;
    font-size: 0.8em; }
    .content #gistid a,
    .content #gist-author a {
      color: #ccc;
      text-decoration: none; }
      .content #gistid a:hover,
      .content #gist-author a:hover {
        text-decoration: underline; }
  .content #gist-author {
    float: right; }
  .content #description {
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 500;
    font-size: 5em;
    text-transform: uppercase;
    line-height: 1em; }
    .content #description.loading {
      -webkit-animation: throb 1s infinite alternate linear;
      -moz-animation: throb 1s infinite alternate linear;
      -ms-animation: throb 1s infinite alternate linear;
      -o-animation: throb 1s infinite alternate linear; }
  .content .apology {
    font-style: italic;
    color: #aaa; }
  .content > footer {
    margin-top: 4em;
    margin-bottom: 2em;
    border-top: 1px solid #eee;
    display: none; }
    .content > footer.forceshow {
      display: block; }
    .content > footer p {
      font-size: 0.8em;
      color: #888;
      font-style: italic; }
      .content > footer p .poweredby {
        display: inline-block;
        margin-right: 1em; }

article > h1:first-child {
  display: none; }
article h1, article h2, article h3, article h4, article h5 {
  font-weight: 300;
  margin-top: 2em;
  color: black; }
article h1, article h2 {
  font-size: 1.5em; }
article h3 {
  font-weight: 400;
  font-size: 0.925em;
  margin-top: 3em;
  text-transform: uppercase; }
article h4, article h5, article h6 {
  font-weight: 400;
  font-size: 0.925em;
  margin-top: 3em;
  font-style: italic; }
article ul, article ol {
  list-style-position: outside;
  padding: 0; }
  article ul li ul, article ul li ol, article ol li ul, article ol li ol {
    margin-left: 1.5em; }
article blockquote {
  margin: 0;
  padding-left: 1em;
  border-left: 1px solid #ddd; }
article ul, article ol, article p, article blockquote {
  line-height: 1.5em; }
article img, article object, article video, article audio, article figure, article iframe {
  max-width: 100%; }
article pre, article code, article samp {
  font-family: 'Source Code Pro', monospace; }
article .codehilite {
  padding: 0.1em 0.5em;
  background: #1d1f21;
  font-size: 0.75em;
  line-height: 1.5em;
  overflow: scroll; }

.gist {
  font-size: 0.75em;
  line-height: 1.5em; }

.loading-embedded-gist {
  -webkit-animation: throb 1s infinite alternate linear;
  -moz-animation: throb 1s infinite alternate linear;
  animation: throb 1s infinite alternate linear;
  padding: 5px;
  text-align: center; }
  .loading-embedded-gist:before {
    content: "Loading embedded Gist"; }

@media all and (min-width: 33.236em) {
  .content {
    padding: 1.618em;
    margin: 0 auto;
    max-width: 45rem;
    font-size: 1.125em; } }
@-webkit-keyframes throb {
  0% {
    opacity: 0.25; }

  100% {
    opacity: 1; } }

@-moz-keyframes throb {
  0% {
    opacity: 0.25; }

  100% {
    opacity: 1; } }

@-ms-keyframes throb {
  0% {
    opacity: 0.25; }

  100% {
    opacity: 1; } }

@-o-keyframes throb {
  0% {
    opacity: 0.25; }

  100% {
    opacity: 1; } }

.codehilite .hll {
  background-color: #373b41; }

.codehilite {
  background: #1d1f21;
  color: #c5c8c6; }

.codehilite .c {
  color: #969896; }

/* Comment */
.codehilite .err {
  color: #cc6666; }

/* Error */
.codehilite .k {
  color: #b294bb; }

/* Keyword */
.codehilite .l {
  color: #de935f; }

/* Literal */
.codehilite .n {
  color: #c5c8c6; }

/* Name */
.codehilite .o {
  color: #8abeb7; }

/* Operator */
.codehilite .p {
  color: #c5c8c6; }

/* Punctuation */
.codehilite .cm {
  color: #969896; }

/* Comment.Multiline */
.codehilite .cp {
  color: #969896; }

/* Comment.Preproc */
.codehilite .c1 {
  color: #969896; }

/* Comment.Single */
.codehilite .cs {
  color: #969896; }

/* Comment.Special */
.codehilite .gd {
  color: #cc6666; }

/* Generic.Deleted */
.codehilite .ge {
  font-style: italic; }

/* Generic.Emph */
.codehilite .gh {
  color: #c5c8c6;
  font-weight: bold; }

/* Generic.Heading */
.codehilite .gi {
  color: #b5bd68; }

/* Generic.Inserted */
.codehilite .gp {
  color: #969896;
  font-weight: bold; }

/* Generic.Prompt */
.codehilite .gs {
  font-weight: bold; }

/* Generic.Strong */
.codehilite .gu {
  color: #8abeb7;
  font-weight: bold; }

/* Generic.Subheading */
.codehilite .kc {
  color: #b294bb; }

/* Keyword.Constant */
.codehilite .kd {
  color: #b294bb; }

/* Keyword.Declaration */
.codehilite .kn {
  color: #8abeb7; }

/* Keyword.Namespace */
.codehilite .kp {
  color: #b294bb; }

/* Keyword.Pseudo */
.codehilite .kr {
  color: #b294bb; }

/* Keyword.Reserved */
.codehilite .kt {
  color: #f0c674; }

/* Keyword.Type */
.codehilite .ld {
  color: #b5bd68; }

/* Literal.Date */
.codehilite .m {
  color: #de935f; }

/* Literal.Number */
.codehilite .s {
  color: #b5bd68; }

/* Literal.String */
.codehilite .na {
  color: #81a2be; }

/* Name.Attribute */
.codehilite .nb {
  color: #c5c8c6; }

/* Name.Builtin */
.codehilite .nc {
  color: #f0c674; }

/* Name.Class */
.codehilite .no {
  color: #cc6666; }

/* Name.Constant */
.codehilite .nd {
  color: #8abeb7; }

/* Name.Decorator */
.codehilite .ni {
  color: #c5c8c6; }

/* Name.Entity */
.codehilite .ne {
  color: #cc6666; }

/* Name.Exception */
.codehilite .nf {
  color: #81a2be; }

/* Name.Function */
.codehilite .nl {
  color: #c5c8c6; }

/* Name.Label */
.codehilite .nn {
  color: #f0c674; }

/* Name.Namespace */
.codehilite .nx {
  color: #81a2be; }

/* Name.Other */
.codehilite .py {
  color: #c5c8c6; }

/* Name.Property */
.codehilite .nt {
  color: #8abeb7; }

/* Name.Tag */
.codehilite .nv {
  color: #cc6666; }

/* Name.Variable */
.codehilite .ow {
  color: #8abeb7; }

/* Operator.Word */
.codehilite .w {
  color: #c5c8c6; }

/* Text.Whitespace */
.codehilite .mf {
  color: #de935f; }

/* Literal.Number.Float */
.codehilite .mh {
  color: #de935f; }

/* Literal.Number.Hex */
.codehilite .mi {
  color: #de935f; }

/* Literal.Number.Integer */
.codehilite .mo {
  color: #de935f; }

/* Literal.Number.Oct */
.codehilite .sb {
  color: #b5bd68; }

/* Literal.String.Backtick */
.codehilite .sc {
  color: #c5c8c6; }

/* Literal.String.Char */
.codehilite .sd {
  color: #969896; }

/* Literal.String.Doc */
.codehilite .s2 {
  color: #b5bd68; }

/* Literal.String.Double */
.codehilite .se {
  color: #de935f; }

/* Literal.String.Escape */
.codehilite .sh {
  color: #b5bd68; }

/* Literal.String.Heredoc */
.codehilite .si {
  color: #de935f; }

/* Literal.String.Interpol */
.codehilite .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.codehilite .sr {
  color: #b5bd68; }

/* Literal.String.Regex */
.codehilite .s1 {
  color: #b5bd68; }

/* Literal.String.Single */
.codehilite .ss {
  color: #b5bd68; }

/* Literal.String.Symbol */
.codehilite .bp {
  color: #c5c8c6; }

/* Name.Builtin.Pseudo */
.codehilite .vc {
  color: #cc6666; }

/* Name.Variable.Class */
.codehilite .vg {
  color: #cc6666; }

/* Name.Variable.Global */
.codehilite .vi {
  color: #cc6666; }

/* Name.Variable.Instance */
.codehilite .il {
  color: #de935f; }

/* Literal.Number.Integer.Long */
/* ======
 * Alerts
 * ====== */
.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee; }
  .callout.danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4; }
  .callout.warning {
    background-color: #fefbed;
    border-color: #f1e7bc; }
  .callout.info {
    background-color: #f0f7fd;
    border-color: #d0e3f0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
