{% extends "base.html" %}

{% block title %}draft.sx &middot; #{{ gist_id }}{% endblock %}

{% block content %}

    <section class="content" {% if content %} data-loaded="true" {% endif %}>
        <header>
            <h1 id="gist-author">Written by
                <a id="author-link" href="{{ dict_get(content, 'owner.html_url', 'javascript:void(0);') }}">
                    {{ dict_get(content, 'owner.login', 'anonymous') }}
                </a>
            </h1>

            <h1 id="gistid">
                <a href="https://gist.github.com/{{ gist_id }}">gist #{{ gist_id }}</a>
            </h1>

            <div class="clearfix"></div>


            {% if content %}
                <h2 id="description" class="instapaper_title entry-title">
                    {{ dict_get(content, 'description', 'No title') }}
                </h2>
                </header>

                {% for file in content.files %}
                    <div id="gistbody" class="instapaper_body entry-content">
                        <article class='file' data-filename='{{ file }}'>
                            {{ content.files[file].rendered|safe }}
                        </article>
                    </div>
                {% endfor %}
            {% else %}
                <h2 id="description" class="loading instapaper_title entry-title">
                    Loading...
                </h2>
                </header>
                <div id="gistbody" class="instapaper_body entry-content"></div>
            {% endif %}

        <footer>
            <p><a href="/">draft.sx</a></p>
        </footer>
    </section>
{% endblock %}

{% block js %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/draft.js"></script>
<script src="{{ STATIC_URL }}js/embed_gist.js"></script>
<script>
    $(function() {
        Gisted.gist("{{gist_id}}");
    });
</script>
{% endblock js %}

{% block extra_head %}
{% endblock %}
