{% extends "base.html" %}

{% block title %}draft.sx &middot; #{{ gist_id }}{% endblock %}

{% block sitetitle %}<a href="http://draft.sx">draft.sx</a> <a href="http://gist.github.com/{{ gist_id }}">#{{ gist_id }}</a>{% endblock %}


{% block navigation %}
    Written by <a id="author-link" href="{{ dict_get(content, 'owner.html_url', 'javascript:void(0);') }}">
        {{ dict_get(content, 'owner.login', 'anonymous') }}
    </a>
{% endblock %}

{% block content %}

    <section class="content" {% if content %} data-loaded="true" {% endif %}>
        {% if content %}
            <div class="post-header mb2">
              <h1 id="description">{{ dict_get(content, 'description', 'No title') }}</h1>
            </div>

            <article class="post-content">
              {% for file in content.files %}
                    <div id="gistbody" class="entry-content">
                        <article class='file' data-filename='{{ file }}'>
                            {{ content.files[file].rendered|safe }}
                        </article>
                    </div>
                {% endfor %}
            </article>
        {% else %}
            <div class="post-header mb2" >
                <h1 id="description">Loading...</h1>
            </div>
            <div id="gistbody" class="entry-content"></div>
        {% endif %}

    </section>
{% endblock %}

{% block js %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/draft.js"></script>
<script src="{{ STATIC_URL }}js/embed_gist.js"></script>
<script>
    $(function() {
        Gisted.gist("{{gist_id}}");
    });
</script>
{% endblock js %}

{% block extra_head %}
{% endblock %}
