{% extends "base.html" %}

{% block title %}{% if content %}{{ content.page_title|safe }}{% else %}draft.sx{% endif %}{% endblock %}

{% block sitetitle %}<a href="http://draft.sx">draft.sx</a> <a href="http://gist.github.com/{{ gist_id }}">#{{ gist_id }}</a>{% endblock %}


{% block navigation %}
    Written by <a id="author-link" href="{{ dict_get(content, 'owner.html_url', 'javascript:void(0);') }}">
        {{ dict_get(content, 'owner.login', 'anonymous') }}
    </a>
{% endblock %}

{% block content %}
    <section class="content" {% if content %} data-loaded="true" {% endif %}>
        <div class="post-header mb2">
          <h1 id="description">{{ content.description }}</h1>
        </div>

        <article class="post-content">
          {% for file in content.files %}
                <div id="gistbody" class="entry-content">
                    <article class='file' data-filename='{{ file }}'>
                        {{ content.files[file].rendered|safe }}
                    </article>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}

{% block js %}
{% endblock js %}

{% block extra_head %}
{% endblock %}
